<h1>Novo usuários</h1>

<form action="/create" method="POST">
    <input type="Text" name="dado1" />
    <button type="submit">Salvar</button>
    </br>
    <a href="/"> Listagem de usuarios </a>

</form>